* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

@keyframes RunHeader {
  from {
     transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}
